/*
Theme Name: example-theme
Author: Armine
Description: Bootstrap Blog template converted to WordPress
Version: 0.0.1
Tags: bootstrap
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.row{
    margin-right: 0;
    margin-left: 0;
}


/*------ introduction section ------*/

.introduction{
    width: 100%;
    height: 707px;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(46,45,35,.7), rgba(46,45,35,.7)), url('./img/fon1.jpg');
}
.navbar-toggler-icon{
    color: #FFF;
}
.navigation{
    width: 100%;
    height: 80px;
    padding-left: 100px !important;
    background: rgba(0, 0, 0, .4);
    color: #bbbbbb;
  
}
.logo{
    width: 300px;
    height: 83px;
    padding: 17px 0;
    margin: 16px 0 13px;
    margin-right: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.logo-img img{
    width: 95px;
    height: 31px;
}
.logo-phone{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #bbbbbb;
    margin-top: 7px;
}
.dropdown-menu{
    min-width: 190px !important;
    background: rgba(0, 0, 0, 0.66) !important;
    border: 1px solid #292929 !important;
    box-sizing: border-box !important;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.55) !important;
}
.nav-item{
    list-style: none;
    display: inline-block;
    margin: 0 7px;
    position: relative;
}
.nav-item a{
    text-decoration: none;
    color: #EBE6E4;
}
.show{
    width: 165px;
}
.navbar-toggler{
    position: absolute;
    right: 30px;
}
.fa-bars{
    color: #bbbbbb;
}
.nav-arrow{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 3px;
    background-image: url('./img/nav-arrow1.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
}
.introduction-title{
    width: 812px;
    height: 154px;
    margin: 112px auto 69px; 
}
.introduction-title h1{
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 77px;
    text-align: center;
    color: #F5F0ED;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.phone-field{
    width: 553px;
    height: 60px;
    margin: 0 auto;
}
.phone-field form{
    width: 100%;
}
.phone-field input[type=text]{
    height: 60px;
    padding: 18px 56px;
    background: rgba(255, 255, 255, 0.07);
    border: 2px solid #9B9B9B;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}
.form-inline .btn{
    margin-left: auto;
    /* max-width: 157px; */
    height: 60px;
    padding: 16px 35px;
    border: none;
    background: #FF6A07;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}
.calculate{
    width: 315px;
    height: 22px;
    margin: 130px auto 81px;
}
.calculate a{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #A8A5A5;
}
.elipse-wrapper{
    width: 85px;
    height: 85px;
    position: relative;
    margin: 0 auto;
}
.elipse{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #BBB8B8;
    box-sizing: border-box;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.08);
    background: url('./img/Arrow\ 1.png') no-repeat center center;
    background-color: #FFF;
    position: absolute;
    left: -15px;
    top: -41px;
}
.manipulator-wrapper{
    position: relative;
    width: 100%;
    height: 1px;
}
.manipulator-wrapper img{
    width: 560px;
    position: absolute;
    bottom: 5px;
    right: -95px;
}
/*----end introduction section -- --*/

/* styles for blog-page */
.introduction-title-for-blog{
    width: 866px;
}
.elipse-for-blog{
    top:25px;
}
.posts{
    padding: 100px 0;
}
.post-wrapper{
    margin: 0 auto;
    max-width: 918px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.date{
    flex-basis: 30%;
}
.post-body{
    flex-basis: 70%;
}
.date p{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}
.post-body p{
    /* font-weight: bold; */
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.035em;
    color: #333333;
}
/* end styles for blog-page */

/*------- calculator section -------*/
.calculator{
    margin: 90px auto 170px;
}
.calculator-header h2{
    margin-bottom: 41px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 134.69%;
    text-align: center;
    letter-spacing: 0.035em;
    color: #333333;
}
.calculator-header p{
    margin-bottom: 73px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
.calculator-tabs{
    width: 356px;
    height: 55px;
    margin: 0 auto 81px;
    display: flex;

}
.tab-component{
    width: 50%;
    height: 100%;
    background: #F2EFEF;
    border: 1px solid #B0AFAF;
    box-sizing: border-box;
}
.tab-component p{
    font-size: 16px;
    line-height: 19px;
    padding: 18px 30px;
}
.select-tab{
    border: none;
    background: #F1C657;
}
.flex-table-header{
    padding-bottom: 17px;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    border-top: none;
    border-bottom: 1px solid #000;
    display: block;
    margin: 2em auto 0;
    width: 90%;
    max-width: 600px;
}

.calculate-btn-wrammer{
    margin: 61px auto 71px;
    width: 250px;
    height: 50px;
}
.calculate-btn{
    background: #F1C657;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.calculate-phone-field{
    margin-top: 81px;
}
.calculator-wrapper{
    margin-bottom: 150px;
}

.table-container {
    display: block;
    margin: 2em auto;
    width: 90%;
    max-width: 600px;
  }

.flex-table{
    display: flex;
    flex-flow: row wrap;  
}
.flex-row {
  width: calc(100% / 4);
  text-align: center;
  padding: 0.5em 0.5em;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  position: relative;
}
.flex-row:after{
    position:absolute;
    bottom:0;
    left:25px;
    width:90%;
    text-align: center;
    border-bottom: 1px solid #000;
    content:"";
}

.first{
    text-align: left;
    padding-left: 30px;
}
.rowspan {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .column {
    display: flex;
    flex-flow: column wrap;
    width: 75%;
    padding: 0;
   
  }
  .flex-cell {
    width: calc(100% / 3); 
    text-align: center;
    padding: 0.5em 0.5em;
    
  }

/*----- end calculator section -----*/

/*------ rent-section section ------*/
.rent-section{
    width: 100%;
    height: 600px;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(46,45,35,.7), rgba(46,45,35,.7)),
    url('./img/fon1.jpg');
    position: relative;
}
.rent-title h2{
    width: 762px;
    height: 154px;
    margin: 119px auto 68px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 77px;
    text-align: center;
    color: #F5F0ED;
}

.rent-img{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    margin: 0;
    background-color: #FFF;
}
.rent-img img{
    width: 360px;
    position: absolute;
    bottom: 0;
    right: 15px;
}


/*---- end rent-section section ----*/


/*----rental-price-calculate section ----*/

.rental-price-calculate{
    margin: 135px auto 150px;
}
.rental-price-title h2{
    padding-bottom: 17px;
    display: block;
    margin: 2em auto 0;
    max-width: 565px;
    height: 48px;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.035em;
    color: #333333;
}
.rental-price-calculate .flex-table-header{
    max-width: 700px;
}
.rental-price-calculate .table-container {
    display: block;
    margin: 2em auto;
    width: 90%;
    max-width: 700px;
  }
.rental-price-calculate .flex-row {
    width: calc(100% / 5);
    text-align: center;
    padding: 0.5em 0.5em;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    position: relative;
  }
.rental-price-calculate .first{
    text-align: left;
    padding: 25px;
}
.border-bottom-none:after{
        position:absolute;
        bottom:0;
        left:25px;
        width:90%;
        text-align: center;
        border-bottom: none;
        content:"";
}
.sum-order .flex-row {
    width: calc(100% / 2);
    text-align: center;
    padding: 0.5em 0.5em;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    position: relative;
  }
  .sum-order .first{
        text-align: left;
        padding: 0 25px;
  }
 
/*-- end rental-price-calculate section --*/

/*-------- benefits section --------*/
.benefits{
    width: 100%;
    height: 500px;
    background-color: #3C3534;
}
.benefits-title h2{
    margin: 64px auto 86px;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.035em;
    color: #FF6A07;
}
.benefits-icons{
    margin:0 auto;
    display: flex;
    flex-flow: row wrap;
}
.icon-item:nth-child(even){
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-item:nth-child(even) p{
    font-size: 24px;
    line-height: 28px;
    color: #C4C4C4;
}
.icon-item{
    width: 210px;
}
.icon-item:first-child {
    width: 180px;
}
.benefits-icons img{
    text-align: center;
}

/*-------- end benefits section ----*/

/*-------- body-text-1 section -----*/
.body-text-1, .body-text-2{
    width: 100%;
    margin-top: 135px;
}
.text-wrapper{
    max-width: 806px;
    margin: 0 auto 142px;
}
.title-wrapper{
    margin-bottom: 71px;
}
.title-wrapper h2{
    font-size: 36px;
    line-height: 46px;
    color: #000000;
}
.video-wrapper{
    width: 100%;
    height: 500px;
    margin-bottom: 135px;
}

/*----- end body-text-1 section ----*/

/*--------- results section --------*/
.results{
    padding: 100px 0;
    width: 100%;
    height: 380px;
    background: radial-gradient(48.07% 48.07% at 56.02% 45.93%, #3C3534 0%, #1D1816 100%);
}

.results-container{
    margin:  auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.results-item{
    max-width: 350px;
    height: 180px;
    padding: 15px 50px;
    display: flex;
    border-right: 1px solid #777676;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.results-item:last-child{
    border: none;
}
.number{
    font-weight: 500;
    font-size: 72px;
    line-height: 85px;
    color: #FF6A07;
}
.results-item p{
    max-width: 240px;
    font-style: italic;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #BBB8B8;
}
.paragraph-wrapper h3{
    margin: 15px 0;
}
/*------- end results section ------*/
.reviews{
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.reviews-text-wrapper{
    flex-basis: 75%;
}
.image-wrapper {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-wrapper p{
    text-align: center;
}
/*--------- gallery section --------*/

.gallery .col-lg-3, .col-md-4, .col-6 {
    padding: 0;
}

.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 5px;
}

/*------- end gallery section ------*/

/*---------  footer section --------*/
footer{
    bottom: 0;
    width: 100%;
    background: #000000;
    padding-top: 35px;
    padding-bottom: 58px;
}
.footer-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .nav-item{
    margin-right: 15px;
}
footer ul.navbar-nav .nav-item::before{
    content: '';
    top: 4px;
    left: -8px;
    position:absolute;
    width:75%;
    height:65%;
    border-color: transparent transparent transparent white;
    border-style:solid;
    border-width:1px;
    transform: skewX(-15deg);
}
footer ul.navbar-nav .nav-item:first-child::before{
    border: none;
}
.footer-contacts-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.footer-img img{
    width: 250px;
}
.footer-contacts, .footer-tel{
    line-height: 30px;
    color: #ECECEC;
}
.footer-contacts h3{
    font-size: 24px;
}
.footer-contacts p{
    line-height: 20px;
}
.footer-contacts h4{
    font-size: 20px;
}
/*------- end footer section -------*/




@media(max-width: 992px) {
    .introduction .col-md-12{
        padding: 0;
    }
    .navigation{
        padding: 0 !important;
    }
    .navbar-collapse {
        width: 100%;
        position: absolute;
        left: 0;
        top: 80px;
        background: rgba(0, 0, 0, .6);
        color: #bbbbbb;
        text-align: center;
    }
    .nav-item{
        margin: 5px auto;
        padding: 0 10px;

    }
    .logo {
        height: 80px !important;
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar-brand {
        padding: 0;
        margin: 0;
    }
    .logo-phone {
        margin-top: 20px;
    }
    
    .introduction-title{
     width: 100%;
     height: 100px;
     margin: 135px 30px 100px; 
    } 
    .introduction-title h1{
     font-size: 45px;
     line-height: 57px;
    }
    .phone-field{
        width: 90%;
        height: 60px;
    }
    .phone-field input[type=text]{
        width: 70%;
    }
    .form-inline .btn{
        width: 25%;
        padding: 16px 15px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }
    .calculate{
     width: 100%;
     height: 22px;
     margin: 50px auto 41px;
     text-align: center;
    }
    .elipse-wrapper, .manipulator-wrapper{
        display: none;
    }
    .wrapper{
     width: 100%;
     margin: 50px 0;
     }
     .calculator-header h2{
         margin-bottom: 35px;
         font-size: 28px;
     }
     .calculator-header p{
         margin-bottom: 53px;
         font-size: 14px;
         line-height: 16px;
     }
     .calculator{
        margin: 70px auto 150px;
    }
    .rent-title h2{
        width: 100%;
        height: 154px;
        margin: 100px auto 60px;
        font-size: 45px;
        line-height: 57px;
    }
    .rent-img img{
       display: none;
    }
    .rental-price-calculate {
        margin: 0 auto 150px;
    }
    .benefits{
        min-height: 835px;
    }
    .benefits .container{
        margin: 0;
    }
    .benefits-icons .icon-item{
        flex-basis: 50%;
        display: flex;
    }
    .icon-item img{
        justify-content: center;
        align-items: center;
    }
    .results{
        height: 660px;
    }
    .results-item{
        flex-basis: 100%;
        border: none;
    }
    .body-text-1, .body-text-2 {
        margin-top: 100px;
    }
    .text-wrapper {
        margin: 0 auto 85px;
    }
    .title-wrapper h2 {
        font-size: 32px;
        line-height: 42px;
    }
    .title-wrapper {
        margin-bottom: 45px;
    }
    .reviews{
        padding-bottom: 100px;
    }
    .footer-img,
    .footer-contacts,
    .footer-tel{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
   
    footer ul.navbar-nav .nav-item::before{
        border: none;
    }
    footer .nav-item {
        margin: 0;
    }
    footer .navbar-collapse {
        background-color: rgba(29, 24, 22, .5);
        text-align: left;
        top: 35px;
        left: -144px;
        min-width: 320px;
    }


 }

 @media(min-width: 320px) and (max-width: 425px) {
     .introduction{
         width: 100%;
         height: 550px;
     }
     .navigation {
         padding-left: 10px !important;
     }
     .logo{
         height: 50px;
         padding: 0;
         width: 100%;
     }
     .logo-img{
         margin-right: 10px;
     }
     .logo-img img {
        width: 75px;
        height: 24.5px;
     }
     .logo-phone{
        font-size: 16px;
        line-height: 20px;
     }
     .nav-item {
        padding: 0 10px;
     }
    .introduction-title{
        width: 100%;
        height: 100px;
        margin: 70px 0 25px;
    } 
       .introduction-title h1{
        font-size: 24px;
        line-height: 27px;
    } 
    .phone-field{
        margin-top: 30px;
        width: 100%;
        height: 50px;
    }
    .phone-field input[type=text]{
        margin-bottom: 10px;
        width: 100%;
        height: 50px;
        padding: 7px 25px;
        font-size: 16px;
        line-height: 18px;
    }
    .form-inline .btn{
        width: 100%;
        height: 50px;
        padding: 16px 3px;
        font-size: 14px;
        line-height: 16px;
    }
    .calculator{
        margin: 70px auto;
    }
    .calculator-tabs{
        max-width: 320px;
    }
    .calculator-tabs {
        width: 100%;
    }
    .tab-component p {
        font-size: 12px;
        line-height: 16px;
    }
    .tab-component p{
        padding: 18px 20px;
    }
    .calculate {
        margin: 100px auto 41px;
    }
    .table {
        width: 100%;
        max-width: 500px;
        margin-bottom: 1rem;
        background-color: transparent;
        overflow: scroll;
    }
    .calculator{
        margin: 50px auto 100px;
    }
    .flex-table-header {
        padding-bottom: 17px;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }
    .rent-title h2{
        margin: 100px auto 45px;
        font-size: 36px;
        line-height: 42px;
    }

    .rental-price-title h2 {
        width: 100%;
        display: block;
        margin: 2em auto 1em;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.035em;
        text-align: center;
    }
    .rental-price-calculate {
        margin: 0 auto 250px;
    }
    .benefits{
        min-height: 1060px;
    }
    .benefits-icons .icon-item{
        flex-basis: 100%;
    }
    .icon-item{
        display: flex;
    }
    .icon-item img{
        justify-content: center;
        align-items: center;
    }
    .icon-item:nth-child(even) {
        height: 100px;
    }
    .reviews-text-wrapper, .image-wrapper{
        flex-basis: 100%;
    }


 }

 @media all and (max-width: 767px) {
    .rental-price-calculate .flex-row {
        width: 100%;
        
      }

    .flex-row {
      width: calc(100% / 3); 
      
    }
    .first {
      width: 100%;
    }
  
    .column {
      width: 100%;
    }
  }
  
  @media all and (max-width: 430px) {
        
    .flex-row {
      width: 100%; 
    }
    .first {
      width: 100%;
    }
  
    .column {
      width: 100%;
    }
  
    .flex-cell {
      width: 100%; 
    }
  }